{extends file="email-layout.tpl"}

{* Open in browser  *}
{block name="browser"}{/block}

{* No big image header *}
{block name="image-header"}{/block}

{* No pre-header *}
{block name="pre-header"}{/block}

{* Subject  *}
{block name="email-subject"}{intl l="A friend invited you"}{/block}

{* Title  *}
{block name="email-title"}{/block}

{* Content  *}
{block name="email-content"}
    {intl l="Hello,"}<br /><br />
    {intl l="%name invited you to a contest at %store_name" store_name={config key="store_name"} name=$NAME  d="contest.email.default"}.<br /><br />
    {intl l='Click <a href="%link">here</a> to participate' link={url path="contest/game/$GAME_ID"} d="contest.email.default"}.<br /><br />
    {intl l='Kind regards'},<br />
    {intl l="The %store team." store={config key="store_name"}}
{/block}
