{extends file="admin-layout.tpl"}
{default_translation_domain domain='contest.bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Participate'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}Contest{/block}

{block name="main-content"}
    <div id="wrapper" class="container">
        {$game_id={$smarty.get.game}}
        {if $general_error}
            <div class="alert alert-danger">
                {$general_error}
            </div>
        {/if}

        <!-- Participate list -->
        <div class="general-block-decorator">
            <div class="table-responsive">
                <table class="table table-striped table-condensed" id="participate-table">
                    <caption class="clearfix">
                        {if $game_id}{loop type="game" name="game-title" id=$game_id limit=1}{$TITLE} - {/loop}{/if}{intl l="Participate"}

                        {loop name="auth-create" type="auth" role="ADMIN" resource="admin.module" access="CREATE" module="Contest"}
                            <div class="pull-right">
                                <a class="btn btn-default btn-primary" title="{intl l='Create a new Participate entry' d='contest.bo.default'}" data-target="#participate-create" data-toggle="modal">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a>
                            </div>
                        {/loop}
                        {if $game_id}
                            <div class="pull-right">
                                <a class="btn btn-default btn-primary" title="{intl l='Go Back' d='contest.bo.default'}" href="{url path="/admin/module/Contest/game"}">
                                    <i class="glyphicon glyphicon-arrow-left"></i>
                                </a>
                            </div>
                        {/if}
                    </caption>

                    <thead>
                    <tr>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='id'
                                reverse_order='id-reverse'
                                path={url path='/admin/module/Contest/participate' target='participate-table'}
                                label="{intl l='Id' d='contest.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='email'
                                reverse_order='email-reverse'
                                path={url path='/admin/module/Contest/participate' target='participate-table'}
                                label="{intl l='Email' d='contest.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='win'
                                reverse_order='win-reverse'
                                path={url path='/admin/module/Contest/participate' target='participate-table'}
                                label="{intl l='Win' d='contest.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='customer_id'
                                reverse_order='customer_id-reverse'
                                path={url path='/admin/module/Contest/participate' target='participate-table'}
                                label="{intl l='CustomerId' d='contest.bo.default'}"
                            }
                        </th>
                        <th>
                            {intl l="Actions"}
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {loop name="participate-list" type="participate" order=$order game_id=$game_id}
                        <tr>
                            <td>
                                <a href="{url path='/admin/module/Contest/participate/edit' participate_id=$ID}">{$ID}</a>
                            </td>
                            <td>
                                {$EMAIL}
                            </td>
                            <td>
                                {if $WIN}{intl l="WIN"}{else}{intl l="FAIL"}{/if}
                            </td>
                            <td>
                                {$CUSTOMER_ID}
                            </td>
                            {* Actions *}
                            <td>
                                <div class="btn-group">
                                    {loop name="auth-edit" type="auth" role="ADMIN" resource="admin.module" access="UPDATE" module="Contest"}
                                        <a class="btn btn-default btn-xs" title="{intl l='Edit this Participate' d='contest.bo.default'}"  href="{url path='/admin/module/Contest/participate/edit' participate_id=$ID}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    {/loop}
                                    {loop name="auth-delete" type="auth" role="ADMIN" resource="admin.module" access="DELETE" module="Contest"}
                                        <a class="btn btn-default btn-xs participate-delete" title="{intl l='Delete this Participate' d='contest.bo.default'}" data-target="#participate-delete" data-toggle="modal" data-id="{$ID}">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    {/loop}
                                </div>
                            </td>
                        </tr>
                    {/loop}
                    {elseloop rel="participate-list"}
                        <tr>
                            <td colspan="1000">
                                <div class="alert alert-info">
                                    {intl l="There is no Participate" d="contest.bo.default"}
                                </div>
                            </td>
                        </tr>
                    {/elseloop}
                    </tbody>

                    {ifloop rel="participate-list"}
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                {include
                                file           = "includes/pagination.html"

                                loop_ref       = "participate-list"
                                max_page_count = 20
                                page_url       = "{url path="/admin/module/Contest/participate" order=$order target='participate-table'}"
                                }
                            </td>
                        </tr>
                    </tfoot>
                    {/ifloop}

                </table>
            </div>
        </div>
    </div>


    {* CREATE Modal *}

    {form name="participate.create"}
    {capture "participate_create"}
        {form_hidden_fields form=$form}


        {render_form_field form=$form field="success_url" value={url path='/admin/module/Contest/participate/edit?participate_id=_ID_'}}

        {form_field form=$form field="email"}
            <div class="form-group">
                <label class="control-label" for="{$label_attr.for}">
                    {$label}
                    {if $required}<span class="required">*</span>{/if}
                </label>

                {form_error form=$form field="email"}{$message}{/form_error}

                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$EMAIL}" placeholder="{intl l='The Participate email'}" />
            </div>
        {/form_field}
        {form_field form=$form field="win"}
            <div class="form-group">
                <label class="control-label" for="{$label_attr.for}">
                    {$label}
                    {if $required}<span class="required">*</span>{/if}
                </label>

                {form_error form=$form field="win"}{$message}{/form_error}

                <input type="checkbox" name="{$name}" id="{$label_attr.for}" {if $WIN}checked{/if} placeholder="{intl l='The Participate win'}" />
            </div>
        {/form_field}
        {form_field form=$form field="game_id"}
            <div class="form-group">
                <label class="control-label" for="{$label_attr.for}">
                    {$label}
                    {if $required}<span class="required">*</span>{/if}
                </label>

                {form_error form=$form field="game_id"}{$message}{/form_error}

                <input type="integer" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$GAME_ID}" placeholder="{intl l='The Participate game_id'}" />
            </div>
        {/form_field}
        {form_field form=$form field="customer_id"}
            <div class="form-group">
                <label class="control-label" for="{$label_attr.for}">
                    {$label}
                    {if $required}<span class="required">*</span>{/if}
                </label>

                {form_error form=$form field="customer_id"}{$message}{/form_error}

                <input type="integer" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$CUSTOMER_ID}" placeholder="{intl l='The Participate customer_id'}" />
            </div>
        {/form_field}
    {/capture}

    {include file="includes/generic-create-dialog.html"


        dialog_id       = "participate-create"
        dialog_title    = {intl l="Create an entry of Participate" d="contest.bo.default"}
        dialog_body     = {$smarty.capture.participate_create nofilter}

        dialog_ok_label     = {intl l="Create"}
        dialog_cancel_label = {intl l="Cancel"}

        form_action        = {$current_url}
        form_enctype       = {form_enctype form=$form}
    }
    {/form}


    {* DELETE modal *}

    {capture "participate_delete"}
        {intl l="Do you really want to delete this Participate entry ?" d="contest.bo.default"}
        <input type="hidden" name="participate_id" id="participate_delete_id" value="" />
    {/capture}

    {include file="includes/generic-confirm-dialog.html"

        dialog_id       = "participate-delete"
        dialog_title    = {intl l="Delete an entry of Participate" d="contest.bo.default"}
        dialog_message  = {$smarty.capture.participate_delete nofilter}

        dialog_ok_label     = {intl l="Delete"}
        dialog_cancel_label = {intl l="Cancel"}

        form_action         = {token_url path='/admin/module/Contest/participate/delete'}
    }
{/block}

{block name="javascript-initialization"}
    <script>
        $(function() {
            $('a.participate-delete').click(function(ev) {
                $('#participate_delete_id').val($(this).data('id'));
            });
        });
    </script>
{/block}