{extends file="admin-layout.tpl"}
{default_translation_domain domain='contest.bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Participate'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}update{/block}
{block name="check-module"}Contest{/block}

{block name="main-content"}

    {form name="participate_update"}
        <div id="wrapper" class="container">

            {if $form_error|default:null}
                <div class="alert alert-danger">{$form_error_message}</div>
            {/if}

            <div class="general-block-decorator">
                <div class="title title-without-tabs">
                    {intl l="Participate edit" d="contest.bo.default"}
                </div>

                <div class="form-container">
                    <form method="POST" action="{$current_url}" {form_enctype form=$form} class="clearfix" >
                    {loop type="participate" name="participate_id" id=$participate_id limit=1}
                        {include "includes/inner-form-toolbar.html"
                        close_url = {url path="/admin/module/Contest/participate" game=$GAME_ID}
                        }
                    {/loop}
                        {form_field form=$form field="id"}
                        {assign "participate_id" $value}
                            <input type="hidden" name="{$name}" value="{$value}"/>
                        {/form_field}
                        {form_field form=$form field="success_url"}
                            <input type="hidden" name="{$name}" value="{url path='/admin/module/Contest'}/participate"/>
                        {/form_field}
                        {form_hidden_fields form=$form}

                        {loop name="participate_update" type="participate" backend_context="yes" id=$participate_id lang=$edit_language_id}
                            <div class="row">
                                <div class="col-md-12">
                                    {form_field form=$form field="email"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="email"}{$message|default:null}{/form_error}

                                                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$EMAIL|default:null}" placeholder="{intl l='The Participate email'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="win"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="win"}{$message|default:null}{/form_error}

                                                <input type="checkbox" class="form-control" name="{$name}" id="{$label_attr.for}" {if $WIN}checked{/if} placeholder="{intl l='The Participate win'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="game_id"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="game_id"}{$message|default:null}{/form_error}

                                                <input type="number" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$GAME_ID}" placeholder="{intl l='The Participate game_id'}" />
                                        </div>
                                    {/form_field}
                                    {form_field form=$form field="customer_id"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error form=$form field="customer_id"}{$message|default:null}{/form_error}

                                                <input type="number" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$CUSTOMER_ID}" placeholder="{intl l='The Participate customer_id'}" />
                                        </div>
                                    {/form_field}

                                    {include "includes/inner-form-toolbar.html"
                                        hide_flags = true
                                        close_url = {url path="/admin/module/Contest/participate"}
                                    }

                                </div>
                            </div>
                        {/loop}

                    </form>
                </div>
            </div>
        </div>
    {/form}
{/block}

{block name="javascript-initialization"}
{/block}