{extends file="admin-layout.tpl"}
{default_translation_domain domain='contest.bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Question'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}Contest{/block}

{block name="main-content"}
    {$game_id={$smarty.get.game}}
    <div id="wrapper" class="container">

        {if $general_error}
            <div class="alert alert-danger">
                {$general_error}
            </div>
        {/if}

        <!-- Question list -->
        <div class="general-block-decorator">
            <div class="table-responsive">
                <table class="table table-striped table-condensed" id="question-table">
                    <caption class="clearfix">
                        {if $game_id}{loop type="game" name="game-title" id=$game_id limit=1}{$TITLE} - {/loop}{/if}{intl l="Question"}

                        {loop name="auth-create" type="auth" role="ADMIN" resource="admin.module" access="CREATE" module="Contest"}
                            <div class="pull-right">
                                <a class="btn btn-default btn-primary" title="{intl l='Create a new Question entry' d='contest.bo.default'}" data-target="#question-create" data-toggle="modal">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a>
                            </div>
                        {/loop}
                        {if $game_id}
                            <div class="pull-right">
                                <a class="btn btn-default btn-primary" title="{intl l='Go Back' d='contest.bo.default'}" href="{url path="/admin/module/Contest/game"}">
                                    <i class="glyphicon glyphicon-arrow-left"></i>
                                </a>
                            </div>
                        {/if}
                    </caption>

                    <thead>
                    <tr>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='id'
                                reverse_order='id-reverse'
                                path={url path='/admin/module/Contest/question' target='question-table'}
                                label="{intl l='Id' d='contest.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='visible'
                                reverse_order='visible-reverse'
                                path={url path='/admin/module/Contest/question' target='question-table'}
                                label="{intl l='Visible' d='contest.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='title'
                                reverse_order='title-reverse'
                                path={url path='/admin/module/Contest/question' target='question-table'}
                                label="{intl l='Title' d='contest.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='game_id'
                                reverse_order='game_id-reverse'
                                path={url path='/admin/module/Contest/question' target='question-table'}
                                label="{intl l='GameId' d='contest.bo.default'}"
                            }
                        </th>
                        <th>
                            {intl l="Actions"}
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {loop name="question-list" type="question" order=$order game_id=$game_id}
                        <tr>
                            <td>
                                <a href="{url path='/admin/module/Contest/question/edit' question_id=$ID}">{$ID}</a>
                            </td>
                            <td>
                                {loop type="auth" name="can_change" role="ADMIN" resource="admin.module" module="Contest" access="UPDATE"}
                                    <div class="make-switch visibleToggle" data-id="{$ID}"  data-on="success" data-off="danger" data-on-label="<i class='glyphicon glyphicon-ok'></i>" data-off-label="<i class='glyphicon glyphicon-remove'></i>">
                                        <input type="checkbox" class="visibleToggle" {if $VISIBLE}checked="checked"{/if}>
                                    </div>
                                {/loop}

                                {elseloop rel="can_change"}
                                    <div class="make-switch switch-small" data-on="success" data-off="danger" data-on-label="<i class='glyphicon glyphicon-ok'></i>" data-off-label="<i class='glyphicon glyphicon-remove'></i>">
                                        <input type="checkbox" class="disabled" disabled="disabled" {if $VISIBLE}checked="checked"{/if}>
                                    </div>
                                {/elseloop}
                            </td>
                            <td>
                                <a href="{url path='/admin/module/Contest/question/edit' question_id=$ID}">{$TITLE}</a>
                            </td>
                            <td>
                                {$GAME_ID}
                            </td>
                            {* Actions *}
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default btn-xs" title="{intl l='Edit Answers' d='contest.bo.default'}"  href="{url path='/admin/module/Contest/answer' question=$ID}">
                                        <i class="glyphicon glyphicon-folder-open"></i>
                                    </a>
                                    {loop name="auth-edit" type="auth" role="ADMIN" resource="admin.module" access="UPDATE" module="Contest"}
                                        <a class="btn btn-default btn-xs" title="{intl l='Edit this Question' d='contest.bo.default'}"  href="{url path='/admin/module/Contest/question/edit' question_id=$ID}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    {/loop}
                                    {loop name="auth-delete" type="auth" role="ADMIN" resource="admin.module" access="DELETE" module="Contest"}
                                        <a class="btn btn-default btn-xs question-delete" title="{intl l='Delete this Question' d='contest.bo.default'}" data-target="#question-delete" data-toggle="modal" data-id="{$ID}">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    {/loop}
                                </div>
                            </td>
                        </tr>
                    {/loop}
                    {elseloop rel="question-list"}
                        <tr>
                            <td colspan="1000">
                                <div class="alert alert-info">
                                    {intl l="There is no Question" d="contest.bo.default"}
                                </div>
                            </td>
                        </tr>
                    {/elseloop}
                    </tbody>

                    {ifloop rel="question-list"}
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                {include
                                file           = "includes/pagination.html"

                                loop_ref       = "question-list"
                                max_page_count = 20
                                page_url       = "{url path="/admin/module/Contest/question" order=$order target='question-table'}"
                                }
                            </td>
                        </tr>
                    </tfoot>
                    {/ifloop}

                </table>
            </div>
        </div>
    </div>


    {* CREATE Modal *}

    {form name="question.create"}
    {capture "question_create"}
        {form_hidden_fields form=$form}

        {form_field form=$form field="locale"}
            <input type="hidden" name="{$name}" value="{$edit_language_locale}" />
        {/form_field}

        {render_form_field form=$form field="success_url" value={url path='/admin/module/Contest/question/edit?question_id=_ID_'}}

        {form_field form=$form field="visible"}
            <div class="form-group">
                <label class="control-label" for="{$label_attr.for}">
                    {$label}
                    {if $required}<span class="required">*</span>{/if}
                </label>

                {form_error form=$form field="visible"}{$message}{/form_error}

                <input type="checkbox" name="{$name}" id="{$label_attr.for}" {if $VISIBLE}checked{/if} placeholder="{intl l='The Question visible'}" />
            </div>
        {/form_field}
        {form_field form=$form field="title"}
            <div class="form-group">
                <label class="control-label" for="{$label_attr.for}">
                    {$label}
                    {if $required}<span class="required">*</span>{/if}
                </label>

                {form_error form=$form field="title"}{$message}{/form_error}

                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$TITLE}" placeholder="{intl l='The Question title'}" />
            </div>
        {/form_field}
        {form_field form=$form field="description"}
            <div class="form-group">
                <label class="control-label" for="{$label_attr.for}">
                    {$label}
                    {if $required}<span class="required">*</span>{/if}
                </label>

                {form_error form=$form field="description"}{$message}{/form_error}

                <textarea class="form-control" name="{$name}" id="{$label_attr.for}"placeholder="{intl l='The Question description'}">{$DESCRIPTION}</textarea>
            </div>
        {/form_field}
        {form_field form=$form field="game_id"}
            <div class="form-group">
                {if $game_id}
                    <input type="integer" class="form-control hidden" name="{$name}" id="{$label_attr.for}" value="{$game_id}"/>
                 {else}
                    <label class="control-label" for="{$label_attr.for}">
                        {$label}
                        {if $required}<span class="required">*</span>{/if}
                    </label>

                    {form_error form=$form field="game_id"}{$message}{/form_error}
                    <input type="integer" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$GAME_ID}" placeholder="{intl l='The Question game_id'}" />
                {/if}

            </div>
        {/form_field}
    {/capture}

    {include file="includes/generic-create-dialog.html"


        dialog_id       = "question-create"
        dialog_title    = {intl l="Create an entry of Question" d="contest.bo.default"}
        dialog_body     = {$smarty.capture.question_create nofilter}

        dialog_ok_label     = {intl l="Create"}
        dialog_cancel_label = {intl l="Cancel"}

        form_action        = {$current_url}
        form_enctype       = {form_enctype form=$form}
    }
    {/form}


    {* DELETE modal *}

    {capture "question_delete"}
        {intl l="Do you really want to delete this Question entry ?" d="contest.bo.default"}
        <input type="hidden" name="question_id" id="question_delete_id" value="" />
    {/capture}

    {include file="includes/generic-confirm-dialog.html"

        dialog_id       = "question-delete"
        dialog_title    = {intl l="Delete an entry of Question" d="contest.bo.default"}
        dialog_message  = {$smarty.capture.question_delete nofilter}

        dialog_ok_label     = {intl l="Delete"}
        dialog_cancel_label = {intl l="Cancel"}

        form_action         = {token_url path='/admin/module/Contest/question/delete'}
    }
{/block}

{block name="javascript-initialization"}
    {javascripts file='assets/js/bootstrap-switch/bootstrap-switch.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    <script>
        $(function() {
            $('a.question-delete').click(function(ev) {
                $('#question_delete_id').val($(this).data('id'));
            });

            {* Visibility toggle *}

            $(".visibleToggle").on('switch-change', function(event, data) {
                $.ajax({
                    url : "{url path='admin/module/Contest/question/toggleVisibility'}",
                    data : {
                        question_id : $(this).data('id'),
                        action : 'visibilityToggle'
                    }
                });
            });
        });
    </script>
{/block}